body {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    background-color: rgb(155, 41, 41);
    margin: 0px;
    padding: 0px;
}

h1 {
    font-family: 'Allerta Stencil', sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
}
  
  p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
}
  
  header {
    color: rgb(229, 226, 226);
    background-color: rgba(51, 51, 50, 0.788);
    width: 100%;
    margin-bottom: 10px;
    position: fixed;
    z-index: 10;
    padding: 5px 0px;
    height: 60px;
}
  
  header img{
      height: 20px;
}
  
  header a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
  
  header nav {
    float:right;
}
  
  header h1 {
      font-family: 'Allerta Stencil', sans-serif;
      float:left;
      margin-top: 10px;
      margin-left: 20px;
      margin-bottom: 10px;
      
}
  
  nav li{
    display: inline;
    padding: 50px 20px;
    margin: 20px;
}
  
  nav li:hover {
    background: rgba(230, 169, 0, 0.103);
    color: #FFF;
    height: 20px;
}

main {
    padding-top: 150px;
    width: 0 auto;
    text-align: center;
    color: whitesmoke;
    font-size: 30px;
}

div{ 
    text-align: center;
    padding-top: 100px;

}

div a{
    background-color: white;
    border: 2px solid blue;
    padding: 10px;
    border-radius: 10px;
    font-size: 30px;
    text-decoration: none;
  }


div a:hover{
    border: 2px solid blue;
    background-color: skyblue;
    color: white;
  }


footer {
    background-color: rgba(51, 51, 50, 0.788);;
    color: white;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 100%;
}
  
  footer p {
    padding: 30px;
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: lighter;
}

